In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

In [6]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df.shape

(1338, 7)

In [8]:
df.groupby("region")["charges"].sum()

region
northeast    4.343669e+06
northwest    4.035712e+06
southeast    5.363690e+06
southwest    4.012755e+06
Name: charges, dtype: float64

In [9]:
def analyze_insurance_data(df):
    # Average age calculation
    average_age = df['age'].mean()
    
    #Analyzing where the majority of individuals are from
    majority_region = df['region'].mode().values[0]
    
    # Examining the different costs between smokers and nonsmokers
    smoker_costs = df.groupby('smoker')['charges'].mean()
    
    # Average age of those with at least one child
    has_children_avg_age = df[df['children'] > 0]['age'].mean()
    
    return average_age, majority_region, smoker_costs, has_children_avg_age

In [10]:
average_age, majority_region, smoker_costs, has_children_avg_age = analyze_insurance_data(df)

In [11]:
print("Average age:", average_age)
print("The majority of individuals are from {} region.".format(majority_region))
print("Average cost of smokers:", smoker_costs['yes'])
print("Average cost for non-smokers:", smoker_costs['no'])
print("Average age of those with at least one child:", has_children_avg_age)

Average age: 39.20702541106129
The majority of individuals are from southeast region.
Average cost of smokers: 32050.23183153285
Average cost for non-smokers: 8434.268297856202
Average age of those with at least one child: 39.78010471204188